// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction


include "./src/auto-start.kdl"
include "./src/layout.kdl"
include "./src/monitor.kdl"
include "./src/screenshot.kdl"
include "./src/keybindings.kdl"
include "./src/cursor.kdl"
include "./src/input.kdl"
include "./src/windowrule.kdl"



